*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    direction: rtl;
    text-align: right;
}


body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* header decoration */
header {
    width: 100%;
    background-color: grey;
    height: 100px;
}

.paz-logo-img {
    position:absolute;
    top: 36px;
    right: 188px;
    width: 132px;
    height: 80px;
    border: cyan solid;
}

.inner-header {
    width: 900px;
    margin:auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    color:white;
}

/* top nav decoration*/
.top-nav {
    height: 50%; 
    display:flex;
   align-items: center;
   justify-content: flex-end;
   
}

.top-nav > a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}

.top-nav div {
    width: 152px;
    height: 19px;
    margin-right: 20px;
}


.search-input a {
    color: white;
    width: 19px;
    height: 19px;
    text-decoration: none;
    float: left;
    margin-right: 1px;
}

.search-input input {
    width: 132px;
    height: 19px;
    border: 1px solid grey;
    border-top-right-radius: 10%;
    cursor: text;
}

.search-input input::-webkit-input-placeholder{
    color: black;
}


/* buttom nav decoration */

.buttom-nav{
    height: 50%;
    font-size:15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* top manu - ul list */
.buttom-nav > ul {
    list-style: none;
    width: 757px;
    display: flex;
    justify-content: space-between;
}

.buttom-nav > ul li {
    font-size: 15px;
    font-weight: bold;
}

.buttom-nav > ul li >a {
    text-decoration: none;
    color: white;
}

.space {
    width: 4px;
    height: 21px;
    
}

main {
    height: 533px;
    width: 100%;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* contact page */


.contact-page-wrap {
    width: 900px;
    height: 424px;
    display:flex;
}

.aside {
    width: 15%;
    display: flex;
}

.aside > a {
    width: 120px;
    height: 36px;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.aside > a > span:hover {
    text-decoration: underline;
    color: #005ca0;
}

.aside > a > span {
    cursor: pointer;
    font-size: 13px;
    color: #5c5c5c;
}

.aside > a > span > img {
    color: #005ca0;
    width: 15px;
    height: 15px;
}

.main-contact-box {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.top-contact-title {
    height: 13%;
    border-bottom: #CCCCCC solid 1px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-treetext {
    color: #72716d;
    font-size: 12px;
}

.top-treetext a {
    text-decoration: none;
    color: #72716d;
}

.top-treetext a:hover {
    text-decoration: underline;
}

.top-contact-title h3 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #72716d;
}

.contact-form {
    height: 87%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

form {
    width: 385px;
    height: 360px;
    border: #CCCCCC solid 1px;
    border-top-right-radius: 25px;
}

form h2 {
    color: #005ca0;
    font-weight: bold;
    font-size: 15px;
}

.contact-text {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    display: block;
}

.asterisk {
    color: #72716d;
    font-size: 12px;
}



.aside-boxes {
    width: 35%;
    background-color: yellow;
}

/* footer style*/

footer {
    position: sticky;
    bottom: 0px;
    display:flex;
    justify-content: center;
    width: 100%;
    height: 38px;
    background: grey;
}

.fotter-wrap {
    width: 900px;
    height: 38px;
    display: flex;
    justify-content: flex-start;
}

.footer-content {
    width: 822px;
    display: flex;
    align-items:center;
}

.ul-footer {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.ul-footer > li >a {
    text-decoration: none;
    color:white;
    font-size: 14px;
} 

.footer-space-li {
    width: 10px;
    background-image: url(/images/menu_sep.png);
    
}