*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    direction: rtl;
    text-align: right;
}


body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* header decoration */
header {
    width: 100%;
    background: rgb(168,168,168);
    background: linear-gradient(0deg, rgba(168,168,168,1) 5%, rgba(144,144,144,1) 21%);
    height: 100px;
}

.paz-logo-img {
    position:absolute;
    top: 30px;
    right: 180px;
    
}

.inner-header {
    width: 900px;
    margin:auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    color:white;
}

/* top nav decoration*/
.top-nav {
    height: 50%; 
    display:flex;
    align-items: center;
    justify-content: flex-end;
   
}

.top-nav > a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}

.top-nav div {
    width: 152px;
    height: 19px;
    margin-right: 20px;
}


.search-input a {
    color: white;
    width: 19px;
    height: 19px;
    text-decoration: none;
    float: left;
    margin-right: 1px;
    margin-top: 1px;
}

.search-input input {
    width: 132px;
    height: 19px;
    border: 1px solid grey;
    border-top-right-radius: 8px;
    cursor: text;
}

.search-input input::-webkit-input-placeholder{
    color: black;
    padding-right: 5px;
}


/* buttom nav decoration */

.buttom-nav{
    height: 50%;
    font-size:15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* top manu - ul list */
.buttom-nav > ul {
    list-style: none;
    width: 757px;
    display: flex;
    justify-content: space-between;
}

.buttom-nav > ul li {
    font-size: 15px;
    font-weight: bold;
    border-left: #CCCCCC solid 1px;
    padding-left: 17px;
}

.buttom-nav > ul li >a {
    text-decoration: none;
    color: white;
}

.buttom-nav > ul li >a:hover {
    text-decoration: underline;
    color: #005CA0 
}

.buttom-nav ul li:last-child {
    border-left: none;
    padding-left:10px;
}

.buttom-nav li img {
    width: 15px;
    height: 15px;
}

/* inner nav ul */

.inner-nav-ul {
    display:none;
    margin-top:17px;
    list-style: none;
    background: rgb(144,144,144);
    background: linear-gradient(0deg, rgba(144,144,144,1) 84%, rgba(168,168,168,1) 94%);
    position:absolute;
    z-index: 1;
}

.inner-nav-ul li{
    font-size: 15px;
    font-weight: bold;
    border-top: #CCCCCC solid 1px;
    height: 25px;
    padding:3px;
    list-style: none;
}

.inner-nav-ul li:hover {
    text-decoration: underline;
    color: #005CA0 ;
    background-color: rgb(204, 204, 173) ;
}

.buttom-nav > ul li >a {
    padding-bottom: 20px;  
}

.nav-li-element:hover>.inner-nav-ul {
    display:block;
}


main {
    height: 700px;
    width: 100%;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* home page */


.main-wrap {
    width: 900px;
    height: 589px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-main {
    height: 355px;
    display:flex;
    justify-content: space-between;
}

.top-main-box {
    height:355px;
    width: 290px;
    position:relative;
}

.top-main-box > img {
    height:355px;
    width: 290px;
    border-bottom-right-radius: 25px;
}

.top-main-box-content {
    position:absolute;
    right:7px;
    bottom:5px;
    width: 248px;
    height: 96px;
    background-color: grey;
    color: white;
    font-size: 13px;
    border-bottom-right-radius: 25px;
    opacity: 0.8;
}

.top-main-box-content p, .top-main-box-content h3{
    margin-right: 7px;
    margin-top: 4px;
    margin-bottom: -7px;
    padding-right:4px;
}

.top-main-box-content p {
    padding-top:5px;
    line-height: 13px; 
}

.top-main-box-content > span {
position:absolute;
bottom: 5px;
left: 20px;

}

.top-main-box-content a{
   display:inline-block;
   color: white;
    cursor: pointer;
}


.top-main-box-content img {
  bottom: -5px;
  left: -20px;
}

.top-main-box-content a:hover {
    color: #005CA0 
}




/* bottom main boxes */

.bottom-main {
    height: 216px;
    display:flex;
    justify-content: space-between;
}

.bottom-main-box {
    height:216px;
    width: 290px;
    border-top-right-radius: 25px;
    border: #CCCCCC solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
}


.bottom-main-box h3{
    height: 23px;
    font-size: 14px;
    font-weight: bold;
    color: #575757;
    margin-top:15px;
    align-self: start;
    margin-right: 20px;
    border-bottom: #CCCCCC solid 1px;
    width: 85%;
}


.bottom-main-box > img {
    width: 250px;
    height: 110px;
}

.more-details{
    height: 55px;
    font-size: 13px;
    color: #72716d;
    padding-top: 15px;
    padding-right: 120px;
    position:relative;
}

.bottom-main-box-arrow {
   width: 10px;
   height: 10px;
   position:absolute;
   left: -15px;
    bottom: 25px;
}

.station-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.station-box h3 {
    height: 10%;
}

.inner-station-box {
    height: 60%;
    display: flex;
    justify-content: space-between;

}

.ul-station {
    width: 40%;
    list-style-type: none;
    margin-top: 10px;
}

.ul-station a{
    padding-right:12px;
    cursor: pointer;
    font-size: 13px;
    color: #72716d;
}

.ul-station a > img {
    width: 10px;
    height: 10px;
    float:left;
    margin-left: 60px;
    margin-top: 6px;
}

.ul-station a:hover {
    color: #005CA0 
}


.inner-station-box > img {
  
    background-color: violet;
    margin-left:10px;
}



/* footer style*/

footer {
    position: sticky;
    bottom: 0px;
    display:flex;
    justify-content: center;
    width: 100%;
    height: 38px;
    background: rgb(144,144,144);
    background: linear-gradient(0deg, rgba(144,144,144,1) 83%, rgba(167,167,167,1) 100%);
}

.fotter-wrap {
    width: 900px;
    height: 38px;
    display: flex;
    justify-content: flex-start;
}

.footer-content {
    width: 850px;
    display: flex;
    align-items:center;
}

.ul-footer {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.ul-footer > li >a {
    text-decoration: none;
    color:white;
    font-size: 14px;
    border-left: 2px white solid;
    padding-left:6px;
    padding-right:6px;
} 

.ul-footer > li >a:hover {
    text-decoration: underline;
    color: #005CA0;
}



/* contact page style */

.contact-page-wrap {
    height: 600px;
    width: 900px;
    display:flex;
}

.aside {
    width: 15%;
    display: flex;
}

.aside > a {
    width: 120px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    border:  #CCCCCC solid 1px;
    background: rgb(210,210,210);
    background: linear-gradient(0deg, rgba(210,210,210,1) 43%, rgba(253,253,253,1) 75%);
}

.aside > a > span:hover {
    text-decoration: underline;
    color: #005ca0;
}

.aside > a > span {
    cursor: pointer;
    font-size: 13px;
    color: #5c5c5c;
}

.aside > a > span > img {
    color: #005ca0;
    width: 15px;
    height: 15px;
}

.main-contact-box {
    width: 50%;
    height: 72%;
    display: flex;
    flex-direction: column;
}

.top-contact-title {
    height: 13%;
    border-bottom: #CCCCCC solid 1px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-treetext {
    color: #72716d;
    font-size: 12px;
}

.top-treetext a {
    text-decoration: none;
    color: #72716d;
}

.top-treetext a:hover {
    text-decoration: underline;
}

.top-contact-title h3 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #72716d;
}

.contact-form {
    height: 87%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

form {
    width: 385px;
    height: 360px;
    border: #CCCCCC solid 1px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
}

.form-info-wrap {
    height: 25%;
    padding:10px;
}

.imput-wrap {
    height: 75%;
    width: 70%;
    align-self: center;
    padding:5px;
}

.imput-wrap div{
    padding:5px;
}

.imput-wrap label {
    font-size: 12px;
    color: #6d6d6d;
}

.imput-wrap input {
    height: 22px;
    width: 168px;
    float:left;
}

.imput-wrap span {
    font-size: 12px;
    color: red;
    display:none;
}

.imput-wrap input:invalid ~ .imput-wrap span {
    display: block;
}

textarea {
    width: 244px;
    height: 108px;
    margin-right:5px;
    padding-right:5px;
}

.imput-wrap input:invalid ~ .imput-wrap span {
    display:block;
}

.imput-wrap button {
    color: white;
    float: left;
    width: 40px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    border: solid 1px;
    background: rgb(2,85,141);
    background: linear-gradient(0deg, rgba(2,85,141,1) 36%, rgba(10,160,225,1) 84%);
}

.imput-wrap button:hover {
    cursor: pointer;
    background-color: white;
    color: #72716d;
}


form h2 {
    color: #005ca0;
    font-weight: bold;
    font-size: 15px;
}

.contact-text {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    display: block;
}

.asterisk {
    color: #72716d;
    font-size: 12px;
}



.aside-boxes {
    width: 35%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top:40px;
}

.aside-boxes > div {
    width: 90%;
    height: 40%;
    border: #CCCCCC solid 1px;
    border-top-right-radius: 25px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
}

.top-aside-box h2 {
    font-size: 15px;
    font-weight: bold;
    color: #005ca0;
    border-bottom: #CCCCCC solid 1px;
    padding:15px 15px 5px;
    width: 90%;
}

.top-aside-box p {
    font-size: 13px;
    color: #6d6d6d;
    padding-right: 15px;
}

.bottom-asaide-box h2 {
    font-size: 15px;
    font-weight: bold;
    color: #005ca0;
    border-bottom: #CCCCCC solid 1px;
    padding:15px 15px 5px;
    width: 90%;
}

.bottom-asaide-box p {
    font-size: 13px;
    color: #6d6d6d;
    padding-right: 15px;
}

.bottom-asaide-box a {
    text-decoration: none;
}

.bottom-asaide-box a:hover {
    text-decoration: underline;
}